body {
    background-color: #E0FFFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#navigation {
    margin: 10px;
    width: 95vw;
    background-color: white;
    display: inline-block;
    border: 3px solid darkcyan;
    padding: 10px;
}

a {
    color: black;
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

h4.right {
    display: inline-block;
}

#quiz {
    text-align: center;
}

button {
    background-color: darkcyan;
    color: white;
    font-size: 15px;
    margin: 5px;
    padding: 10px 16px;
}

button:hover {
    transition-duration: 0.3s;
    background-color: powderblue;
}